# The First Section 9-12

### List 
* indexing
* mutable
* orederd
* allow duplicated
* dynamic
* []

In [2]:
x= [3,2,2,1]
print(type(x))
print(id(x),id(x[0]))
print(x)

<class 'list'>
3172355157704 140703329844352
[3, 2, 2, 1]

In [3]:
x = [2,3,67,'ali', 1.35, False]

In [4]:
x[4] = 'ahmed'

In [5]:
print(x)

[2, 3, 67, 'ali', 'ahmed', False]

In [7]:
name = 'Ramy'
print(type(name))

<class 'str'>

In [8]:
for x in name:
    print(x)

R
a
m
y

In [9]:
list_name = list(name)
list_name[3] = 'i'

print(list_name)

['R', 'a', 'm', 'i']

In [10]:
strName = str(list_name)
print(strName)
print(type(strName))

['R', 'a', 'm', 'i']
<class 'str'>

In [18]:
strName = ''.join(list_name)
print(strName)

Rami

## indexing

In [24]:
x = [2, 3, 67, 'Ali', 'Ahmed', False]
#    0  1   2    3     5        6
#   -6  -5 -4    -3     -2      -1

In [25]:
x[-6]

2

In [26]:
x.append(37.5)
x

[2, 3, 67, 'Ali', 'Ahmed', False, 37.5]

[2, 3, 67, 'Ali', 'Ahmed', False, 37.5, 5, 5, 5, 5]

## Sorting

In [35]:
x.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [39]:
z = [5,9.2,65,4,64,6,1,3,5,4,4]
z.sort()
z.reverse()
z

[65, 64, 9.2, 6, 5, 5, 4, 4, 4, 3, 1]

## Tuple

* Fixed list 
* immutaple
* orderd
* ()

In [27]:
y = (3,7,6.5,'Ali')
y

(3, 7, 6.5, 'Ali')

In [28]:
type(y)

tuple

In [29]:
y[0]

3

In [30]:
y[0] = 5

TypeError: 'tuple' object does not support item assignment

In [31]:
y.append(1)

AttributeError: 'tuple' object has no attribute 'append'

In [32]:
y.index('Ali')

3

## Looping

In [33]:
for val in y:
    print(val)

3
7
6.5
Ali

In [34]:
0 in y

False

## Dictionary

||||
| --| --| --|
|key1   | value1| name1|
|key2   | value2| name2|
|key3   | value3| name3|
|key4   | value4| name4|



- ordered (starting from python v3.6+)
- changable
- duplicated not allowed in keys

In [44]:
student = {

    'lastname' : 'Hani',
    'firstname': ['Ali', 'Ahmed'],
    'grade'    : 100,
}

student

{'lastname': 'Hani', 'firstname': ['Ali', 'Ahmed'], 'grade': 100}

In [45]:
student[0]

KeyError: 0

In [46]:
student['firstname'][0]

'Ali'

In [47]:
student['gender'] = 'Male'
student

{'lastname': 'Hani',
 'firstname': ['Ali', 'Ahmed'],
 'grade': 100,
 'gender': 'Male'}

## Editing

In [48]:
student ['lastname'] = 'rami'
student

{'lastname': 'rami',
 'firstname': ['Ali', 'Ahmed'],
 'grade': 100,
 'gender': 'Male'}

In [49]:
d = {
    1:'one',
    2:'two',
}
d

{1: 'one', 2: 'two'}

In [50]:
d.pop(1)

'one'

In [51]:
d

{2: 'two'}

In [56]:
# looping dict keys
for item in student:
    print(item)

print('-------------------------')

for item in student.keys():
    print(item)

#by default we loop on keys of the dict

lastname
firstname
grade
gender
-------------------------
lastname
firstname
grade
gender

In [57]:
# looping on the values 
for val in student.values():
    print(val)

rami
['Ali', 'Ahmed']
100
Male

In [61]:
for k,v in student.items():
    print(k,':',v)

lastname : rami
firstname : ['Ali', 'Ahmed']
grade : 100
gender : Male

## Searching

In [64]:
print('lastname' in student.keys())
print('firstname' in student.values())

True
False

# Set

* Duplicates not allowed
* Unordered
* Unindexed
* Immmutable (Unchangable)

In [80]:
myset = {1,2,2,2,9,3,7.5,'Ali'}

In [81]:
print(myset, type(myset))

{1, 2, 3, 7.5, 9, 'Ali'} <class 'set'>

In [82]:
myset.update({3.5,7.9,9,'hani'})
myset.update({9,10,'x'})
myset

{1, 10, 2, 3, 3.5, 7.5, 7.9, 9, 'Ali', 'hani', 'x'}

In [83]:
myset.pop()   # Delete randomly

1

In [84]:
myset.clear()

In [85]:
del myset
myset

NameError: name 'myset' is not defined

In [86]:
myset=(1,5,56,9)

In [87]:
1 in myset

True